@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Bebas+Neue&family=Forum&family=Michroma&family=Oswald:wght@200..700&display=swap');

@font-face{
    font-family: 'unispace';
    src: url(../fontes/Unispace\ Rg.otf) format(opentype);
    font-style: normal;
    font-weight: normal;
}

:root{
    --cor1: #ffffff;
    --cor2: #3b0f0f;
    --cor3: #000000e6;
    --cor4: #c43636;
    --cor5: #d3d3d3;
    --cor6: #000000;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-oswaldo: 'Oswald';
    --font-unis: 'unispace';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

abbr{
    text-decoration: none;
}

header{
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    height: 70px;
    
}

header h2{
    font-family: var(--font-unis);
    color: var(--cor1);
    margin-left: 80px;
}

header>nav{
    margin-left: 800px;
}

@media (max-width: 600px){
    header h2{
        font-size: 17px;
        margin-left: 15px;
    }

    header>nav{
        margin-left: 20px;
    }
}

header nav>a{
    color: var(--cor1);
    font-family: var(--font-padrao);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

header nav>a:hover{
    color: var(--cor2);
    background-color: var(--cor4);
    transition: 0.5s;
    border-radius: 5px;
}

@media (max-width: 600px){
    header nav > a{
        font-size: 10px;
        padding: 5px;
    }

    header nav > a::after{
        content: '\00A0\00A0\007C';
    }

    header nav > a:hover{
        color: var(--cor1);
        background-color: transparent;
    }
}

.contain-ge{
    display: flex;
}

.contain-chu{
    background: var(--cor5) url('../imagens/img-chu/churras-contain.jpg') left center no-repeat;
    background-size: cover;
    width: 50vw;
    height: 90vh;
}

@media (max-width: 600px) {
    .contain-chu {
        width: 100vw;
        height: 90vh;

    }
}

.contain-chu img{
    width: 100%;
    height: 100%;
}

.title-chu{
    margin-top: 25%;
    background-color: var(--cor3);
    height: 40%;
    position: relative;
}

@media (max-width: 600px) {
    .title-chu {
        margin-top: 50%;
    }
}

.title-chu .title-chu2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.title-chu2 h1{
    color: var(--cor1);
    font-family: var(--font-oswaldo);
}

.title-chu2 p{
    color: var(--cor1);
    font-family: var(--font-padrao);
    font-weight: bold;
    line-height: 30px;
}

@media (max-width: 600px) {

}

.contain-exi .img-exi{
    background-color: var(--cor5);
    width: 50vw;
    height: 30vh;
}

@media (max-width: 600px) {
    .contain-exi {
        display: none;
    }

    .contain-chu {
        width: 100%;
    }

    .contain-chu img {
        background-size: cover;
    }

    .title-chu h1 {
        font-size: 25px;
    }

    .title-chu p {
        font-size: 12px;
    }
}

.img-exi img{
    width: 100%;
    height: 100%;
}

.contain-destaque{
    width: 100vw;
    height: 100vh;
    padding-top: 15%;
    background: var(--cor5) url('../imagens/img-destaque/destaque.jpg') center center no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {
    .contain-destaque {
        max-width: 99vw;
        padding-top: 15%;
    }
    .contain h1 {
        font-size: 25px;
    }
}

.contain{
    background-color: var(--cor3);
    padding-top: 20%;
    width: 100%;
    height: 90%;
}

@media (max-width: 600px) {
    .contain {
        max-height: 80%;
    }
}

.contain h1{
    color: var(--cor1);
    font-family: var(--font-oswaldo);
    text-align: center;
}

.contain .img-cardapio{
    margin-left: 50px;
    padding-right: 50px;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

@media (max-width: 600px) {
    .contain .img-cardapio {
        margin-left: 20px;
    }

    .cardapio {
        display: block;
        max-width: 200px;
        max-height: 250px;
    }

    .cardapio img {
        max-width: 100%;
        max-height: 100%;
    }
}

.img-cardapio .cardapio{
    width: 400px;
    height: 200px;
    padding: 20px;
    opacity: 100%;
    flex-shrink: 0;
}

.cardapio img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    border: 1px solid var(--cor3);
    border-radius: 5px;
}

.cardapio img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px var(--cor6);
}

@media (max-width: 600px) {
    .cardapio img:hover {
        transform: none;
    }
}

.img-bebidas{
    margin-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: auto;
    scrollbar-width: none;
} 

@media (max-width: 600px) {

    .img-bebidas {
        margin-left: 20px;
    }

    .bebidas {
        max-width: 200px;
        max-height: 250px;
    }

    .bebidas img {
        width: 100%;
        height: 100%;
    }
}

.img-bebidas .bebidas{
    width: 400px;
    height: 200px;
    padding: 20px;
    flex-shrink: 0;
}

.bebidas img{
    width: 100%;
    height: 100%;
    border: 1px solid var(--cor6);
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.bebidas img:hover{
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .bebidas img:hover {
        transform: none;
    }
}

@media (max-width: 600px) {
    aside h2{
        font-size: 20px;
    }

    aside p{
        font-size: 12px;
        display: block;
        max-width: 300px;
    }
}

aside {
    background-color: var(--cor2);
}

aside h2 {
    color: var(--cor1);
    font-family: var(--font-oswaldo);
    padding-top: 20px;
    margin-left: clamp(10px, 5vw, 100px);
}

aside h1{
    color: var(--cor1);
    margin-top: clamp(10px, 5vw, 50px);
    margin-bottom: 20px;
    margin-left: clamp(10px, 5vw, 100px);
    font-family: var(--font-oswaldo);
}

aside p{
    color: var(--cor1);
    margin-left: clamp(10px, 5vw, 100px);
    padding-bottom: 50px;
    display: block;
    width: 1000px;
    text-align: justify;
    line-height: 30px;
    font-family: var(--font-padrao);
}

footer {
    color: var(--cor1);
    background-color: var(--cor6);
    text-align: center;
    font-family: var(--font-padrao);
}

footer p{
    color: var(--cor1);
    font-family: var(--font-padrao);
    font-weight: bold;
}